@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Mona Sans';
  src:
    url('./fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('./fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'SF-Mono';
  src: url('./fonts/SFMonoRegular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'SF-Mono';
  src: url('./fonts/SFMonoMedium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'SF-Mono';
  src: url('./fonts/SFMonoSemibold.otf') format('opentype');
  font-weight: 600;
}

html {
  font-family: 'Mona Sans';
}

body {
  background-color: #000;
  position: relative;
}

@layer utilities {
  .font-stretch-condensed {
    font-stretch: 75%;
  }

  .font-stretch-normal {
    font-stretch: 100%;
  }

  .font-stretch-wide {
    font-stretch: 125%;
  }

  .bg-gradient-about {
    background: linear-gradient(180deg, #000 -9.61%, rgba(0, 0, 0, 0) 100%);
  }

  .benefits-card-1 {
    background: url('/assets/images/benefits-1.png') no-repeat center center;
    background-size: cover;
  }

  .benefits-card-2 {
    background: url('/assets/images/benefits-2.png') no-repeat center center;
    background-size: cover;
  }

  .benefits-card-3 {
    background: url('/assets/images/benefits-3.png') no-repeat center center;
    background-size: cover;
  }

  .benefits-card-4 {
    background: url('/assets/images/benefits-1.png') no-repeat center center;
    background-size: cover;
  }

  .glow-ball {
    box-shadow: 0 0 80px 15px #2986ff;
  }
}
